<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CoffeeHouse</title>
  </head>
  <body>

    <a href="{% url 'special_create_view' %}">Create New Special</a>
    {% block content %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script type="text/javascript">
      console.log($);

      $(document).ready(function() {
        $("#refresh-button").on("click", function(e) {
          $(".data-container").html("");
          refreshData();
        });
        var refreshData = function() {
          $.getJSON('/api/specials/', function(specials) {
            specials.forEach(function(special) {
              var source = $("#it-works").html();
              var template = Handlebars.compile(source);
              var renderedTemplate = template({"special": special});
              $(".data-container").append(renderedTemplate);
            });
          });
        };
        refreshData();
      });

    </script>

    {% verbatim %}
      <script type="text/x-handlebars-template" id="it-works">
        <div class="">
          <a href="">
            <img src="{{ special.image_url }}" alt="PICTURE OF {{ special.title }}"/>
          </a>
        </div>
        <div class="">
          {{ special.title }}
        </div>
        <div class="">
          {{ special.description }}
        </div>
        <hr>
      </script>
    {% endverbatim %}

  </body>
</html>
